.image-logo{
    margin-left: 10px;
}

.underline{
    width: 300px;
}

button{
    cursor: pointer;
}

.container{
    border: 1px solid ble;
}

.row{
    border: 1px solid gren;
}

.col,.col-1,.col-2,.col-3,.col-md-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    border: 1px solid blak;
    background-color: yello;
    height: auto;
}

.centered {
    position: absolute;
    top: 30%;
    left: 70%;
    
    color: white;
  }

  .A-tag{
    color: white;
  }
  
  .volvo::first-line{
    color:black;
  }